# Сборки
build/
out/

# Бинарники
src/main
*.o
*.a
*.so
*.dylib
*.dll
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
*.cmake

# Visual Studio
*.user
*.suo
*.sdf
*.opensdf
*.sln
*.vcxproj
*.vc.db

# IDE
.idea/
*.code-workspace
*.swp
*~
*.orig

# Система
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp
*.temp

# Профилирование и покрытие
*.gcda
*.gcov
*.profraw
*.profdata
coverage.txt
coverage_report/
lcov.info
